.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
  }
  
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  
  .table tbody + tbody {
    border-top: 2px solid #dee2e6;
  }
  
  .mt-5 {
    margin-top: 3rem;
  }
  .multiline {
    white-space: pre-line;
    word-break: break-word;
  }
  .comment-cell {
    max-width: 200px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
  }