.container_login {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  

  .form_login {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  .input_login[type="text"],
  .input_login[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button_color  {
    padding: 15px 15px; /* Adjust the padding to change the button size */
    margin-top: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px; /* Adjust the font size to change the button size */
    width: fit-content; /* Add this line to adjust the button width to its content */
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .button-container button {
    margin: 0 5px;
  }
  
  .button-container button + button {
    margin-left: 10px; /* Add margin between buttons */
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }

  .Blue {
    background-color: blue;
  }
  
  .Orange {
    background-color: orange;
  }
  
  .Green {
    background-color: green;
  }

  .gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
    .custom-notification {
      position: fixed;
      top: 20px;
      right: 20px;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 1.2em;
      font-weight: bold;
    }
    
    .error {
      background-color: #ff7675;
      color: white;
    }
    .custom-notification {
      position: fixed;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 1.2em;
      font-weight: bold;
      z-index: 9999;
    }
    
    .custom-notification.success {
      background-color: #28a745;
      color: #fff;
    }
    
    .custom-notification.error {
      background-color: #dc3545;
      color: #fff;
    }
    
    
    